@page
@model AnketHazirlamaPortali.Views.Home.AccessDeniedModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Erişim Reddedildi</h2>
                    <p class="card-text text-center">Üzgünüz, bu sayfaya erişim izniniz yok.</p>
                </div>
            </div>
        </div>
    </div>
</div>
