@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Anket Sistemine Hoş Geldiniz";
}
<!-- Jumbotron -->
<div class="jumbotron text-center">
    <h1 class="display-4">Anket Sistemine Hoş Geldiniz</h1>
    <p class="lead">Üye olarak anketleri doldurmaya başlayabilirsiniz.</p>
    <a class="btn btn-primary btn-lg" href="/Home/Surveys" role="button">Anketlere Başla</a>
</div>
