@model RegisterModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giriş Paneli</title>
    <link rel="shortcut icon" type="image/png" href="~/PanelTheme/src/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/PanelTheme/src/assets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <h5 class="text-center">Kullanıcı Kayıt Ol</h5>
                                @if (TempData["ErrorMessage"] != null)
                                {
                                    <div class="alert alert-danger">
                                        @TempData["ErrorMessage"]
                                    </div>
                                }

                                <form asp-area="" asp-controller="Home" asp-action="Register" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Kullanıcı Adı</label>
                                        <input asp-for="KullaniciAdi" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email</label>
                                        <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-4">
                                        <label for="exampleInputPassword1" class="form-label">Şifre</label>
                                        <input asp-for="Sifre" type="password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <div class="mb-4">
                                        <label for="exampleInputPassword1" class="form-label">Şifre (Tekrar) </label>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Kayıt Ol</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/PanelTheme/src/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/PanelTheme/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>